@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oxygen&family=Poppins:ital,wght@0,400;0,600;0,700;1,600&family=Raleway:wght@500&display=swap');

/* navigation */

.navbar {
    font-size: 16px;
    left: 0;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Poppins', sans-serif;
 }

.navbar-light .navbar-nav .nav-link {
    padding: 0 20px;
    margin: 0 15px;
    color: black;
    transition: 0.3s ease;

}

.navbar .navbar-nav .nav-item {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: rgb(210, 66, 14);
}

.navbar i {
    font-size: 1.4rem;
    padding: 0 8px;
    transition: 0.3s ease;
    cursor: pointer;
}

.navbar i:hover,
.navbar i.action {
    color: rgb(210, 66, 14);
}

.navbar-light .navbar-toggler {
    border: none;
    outline: none;
}
#bar {
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    color: black;
    transition: 0.3s ease;
}

#bar:hover,
.bar.active {
    color: white;
}


/*End navigation */

/* Home */
#home h1 {
    text-transform: uppercase;
}


#home span {
    color: rgb(210, 66, 14);
}




#home {
    background-image: url(back.jpg);
    background-size: cover;
    background-position: top 60px center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
button {
    color: white;
    text-transform: uppercase;
    background-color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 30px;
    font-weight: 500;
    outline: none;
    border: none;
    transition: 0.3s ease;

}

button:hover {
    background-color: rgb(41, 39, 39);
    color: white;
}
/* end home */

/* new */
#new .one img {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;

}

#new h2 {
    font-size: 1.5rem;
}

#new .one .details {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: 0.3s ease;
    text-transform: capitalize;

}

#new .one:hover .details {
    cursor: pointer;
    background-color: rgba(245, 178, 178, 0.7);
}

#new .one .details button {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    background: none;
    text-transform: uppercase;
    border-bottom: 1px solid #2a2a2a;
    padding: 2.5px;
    transform: translateY(70px);
    transition: 0.3s ease;
}

#new .one .details button:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

#new .one:nth-child(1) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

#new .one:nth-child(2) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(3) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}
/*End new */

/* product */
.hr{
    width: 30px;
    height: 1px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    background-color: rgb(189, 57, 57);
}
 .star .fa-star {
    font-size: 0.8rem;
   color: goldenrod;
   
}
.star{
    padding: 10px 0;
}

.row .product h5 {
    font-size: 15px;
    text-transform: uppercase;

}

.row .product h4 {
    font-size: 18px;
}

.product {
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img {
    transition: 0.3s ease all;
}

.product:hover img {
    opacity: 0.7;
}

.product .buy-btn {
    background-color: rgb(224, 172, 18);

    transform: translateY(20px);
    opacity: 0;
    transition: 0.8s ease all;
}

.product:hover .buy-btn {


    transform: translateY(0);
    opacity: 1;
  

}

/* end new */
#banner{
    background-image: url(banner/2.jpg);
    background-position: top 70px center;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner h1{
    color: #fff;
}


#banner h4{
    color: #fff;
}

#footer{
    background-color: #2a2a2a;
}
footer  h5{
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
}
footer li{
    padding-bottom: 4px;
}
footer h6{
    color: #fff;
}
footer p{
    color: #999;
    font-size: 12px;
    
    line-height: 22px;
}
footer li a{
    font-size: 0.8rem;
    color: #999;
}
footer .copyright a{
    color: black;
    width: 38px;
    height: 38px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
}
footer .copyright a:hover{
    color :#fff;
    background-color:  rgb(224, 172, 18);
}








































@media only screen and (max-width:991px) {

    body>nav>div>button:hover,
    body>nav>div>button:focus {
        background-color: rgb(210, 66, 14);
    }

    body>nav>div>button:hover #bar,
    body>nav>div>button:focus #bar {
        color: rgb(255, 255, 255);
    }

    #navbarSupportedContent>ul {
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
        padding: 0 5px;
    }

   
    #navbarSupportedContent > ul > li:nth-child(n){
        padding: 10px 0;
    }
}