@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oxygen&family=Poppins:ital,wght@0,400;0,600;0,700;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h3 {
    font-size: 44px;
    line-height: 55px;
    color: #121212;
    font-weight: 500;
}

h6 {
    font-size: 20px;
    line-height: 32px;
    color: #1d1d1d;
    margin-top: 17px;
    font-weight: normal;
}

/* ******************** NAV ******************** */

.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background: transparent;
    transition: all 0.5s ease;
    z-index: 100000;


}

.nav .menu-bar .menu-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.nav .menu-bar .menu-items li {
    margin: 0 15px;
}

.nav .menu-bar .menu-items li a {
    color: #121212;
    font-size: 18px;
    font-weight: 600;
}

.nav .menu-bar .menu-items li a:hover {
    color: rgb(33, 95, 211);
}

.nav .navbar-toggler {
    display: none;
    border: none;
    outline: none;
}

.nav .navbar-toggler .toggler-icon {
    width: 28px;
    height: 3px;
    background-color: #121212;
    margin: 5px 0;
    display: block;
    transition: all 0.3s ease-out 0%;
    position: relative;

}

.nav .navbar-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav .navbar-social ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.nav .navbar-social span {
    font-size: 16px;
    font-weight: 600;
    padding-right: 20px;
    color: #6c6c6c;
}

.nav .navbar-social ul li {
    margin: 0 10px;

}

.nav .navbar-social ul li a {
    color: #121212;
    font-size: 18px;
    color: #6c6c6c;
}

/* *************** HOME *************** */
.back {
    background-image: url(6.jpg);
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.back .overlay {
    background: linear-gradient(0deg, rgba(106, 129, 161, 0.6727065826330532) 0%, rgba(242, 242, 242, 0.9304096638655462) 81%);
    width: 100%;
    height: 100%;
}

.back .hero-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.back .hero-shape img {
    width: 100%;
    display: block;
}
.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
   transform:  translate(-50%, -50%);
   text-align: center;
}
.hero-text .header-btn{
    margin-top: 22px;
}
.main-btn{
    display: inline-block;
    font-weight: 700;
    align-items: center;
    white-space: nowrap;
    vertical-align: center;
    border: 2px solid transparent;
    border-radius: 50px;
    padding: 0 32px;
    font-size: 16px;
    line-height: 50px;
    color: #0067f4;
    position: relative;
    transition: all 0.4s ease-out 0%;
    cursor: pointer;
    z-index: 5;
}
.hero-text .header-btn li{
    display: inline;
    margin: 10px 10px 0 0;
}
.hero-text .header-btn li a.main-btn{
border-radius: 50px;
overflow: hidden;
background-color: #fff;
border: 0;
line-height: 50px;

box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

}
.hero-text .header-btn li a.main-btn i{
    margin-left: 5px;
    color: #1c539f;
}
.hero-text .header-btn .btn-one{
    color: #fff;
}
.hero-text .header-btn .btn-one::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(76,79,231,1) 0%, rgba(82,100,199,1) 0%, rgba(190,34,160,1) 100%);
    z-index: -1;
    transition: all 0.3s ease;
    background-position: right center;

}
.hero-text .header-btn .btn-one:hover::before{
    background: linear-gradient(to left, rgba(76,79,231,1) 0%, rgba(82,100,199,1) 0%, rgba(190,34,160,1) 100%);
    background-position: left center;

}


/* ****** service ****** */
.service h6{
    margin-bottom: 6rem;
}
#wrapper{
    margin: 5rem 7rem 10rem 7rem;
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.service .service-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.service .service-content .box{
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.service .service-content .box .box-one{
    width: 100%;
display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.service .service-content .box .box-one .services{
   flex-direction: column;
    display: flex;
      justify-content: flex-start;
      align-items: flex-start;
        margin-bottom: 2rem;
}
.service .service-content .box .box-one .services i{
    font-size: 3rem;
    margin-bottom: 10px;
    color: #535cF1;
}
.service .service-content .box .box-one .services .service-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.service .service-content .service-img{
    width: 40%;
}
.service .service-content .service-img img{
    width: 100%;
}


/* ***** pricing ***** */
.pricing{
    display: block;
    text-align: center;
}
.pricing h6{
    margin-bottom: 6rem;
}
.pricing .basic{
    width: 355px;
    height: 100%;
    border: 1px solid #535cF1;
    border-radius: 20px;
}
.pricing .basic h3{
    text-align: center;
    font-weight: 300;
    padding: 40px 0;
    background-color: #ecf0f1;
    transition: all ease 0.6%;
    border-top-right-radius:20px ;
    border-top-left-radius:20px ;
    clip-path: polygon(0 0 ,100% 0, 100% 90%,0 100%);
}
.pricing .basic .price{
    display: block;
    text-align: center;
    padding: 20px 0;
}
.pricing .basic .price .sing{
    display: inline-block;
    font-size:28px ;
    font-weight: 400;
    vertical-align: middle;

}
.pricing .basic .price .currency{
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: auto;

}
.pricing .basic .price .cent{
    display: inline-block;
    font-size: 24px;
    font-weight:400 ;
    vertical-align: bottom;
}


.pricing .basic .price .month{
    font-size: 18px;
    font-size: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}
.pricing .basic ul li{
    border-top: 1px solid #ccc;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    color: #7f8c8d;
}
.pricing .basic ul li i{
 color: #535cF1;
    padding-right: 5px;
}
.pricing .header-btn{
    margin: 2rem auto;
    width: 170px;
}
.pricing .header-btn a{
    font-weight: normal;
    font-size: 18px;
    border-radius: 50px;
    outline: medium none;
    border: 1px solid #2ecc71;
    color: #1d1d1d;
}
.pricing .table{
display: flex;
flex-direction: row;

justify-content: space-between;
align-items: center ;
}
.pricing .standard h3{
    background-image: linear-gradient(to right,#535CF1,#A147E4);
    clip-path: polygon(0 0 ,100% 0, 100% 90%,0 100%);
}
.pricing .standard .header-btn a{
    background-image: linear-gradient(to right,#535CF1,#A147E4);
  color: #fff;
  border: 1px solid #2ecc71;
}
.pricing .basic:hover .header-btn a{
    background-image: linear-gradient(to right,#535CF1,#A147E4);
    color: #fff;
    border: 1px solid #2ecc71;
    transition: 0.3s ;
}
.pricing .basic:hover h3{
    background-image: linear-gradient(to right,#535CF1,#A147E4);
    clip-path: polygon(0 0 ,100% 0, 100% 90%,0 100%);
}